
@media only screen and (max-width: 600px) {
    .carousel-caption h1{
        font-size: 2.5rem !important;
      }
      .work-border:before {
        display: none;
      }
      .big-title{
        font-size: 2rem !important;
      }
      .work-border:after {
        display: none;
      }
      .footer ul{
        flex-direction: column;
        text-align: center;
      }
      .match-mobile{
        text-align: center;
        margin-bottom: 20px;
      }
      .videos-contain-padding{
        padding-top: 12% !important;
      }
      .videos-contain-padding .btn{
        font-size: 12px;
      }
      .videos-select-item .form-select{
        font-size: 12px;
      }
      .videos_page{
        padding: 100px 20px 20px 20px !important;
      }
      .announcement-item{
        display: block !important;
      }
      .container-fluid{
        padding:0 20px !important;
      }
  }

