
@media only screen and (max-width: 600px) {
    .carousel-caption h1{
        font-size: 2.5rem !important;
      }
      .work-border:before {
        display: none;
      }
      
      .work-border:after {
        display: none;
      }
  }

