@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");


/*---------------------------------------
    ## Default Setting
---------------------------------------*/

:root {
    --main-color: #87BFCF;
    --heading-color: #2e3440;
    --paragraph-color: #4c566a;
    --white: #fff;
    --body-font: "DM Sans", sans-serif;
    --heading-font: "Playfair Display", serif;
    --body-font-size: 16px;
    --line-height30: 1.5;
    --sub-btn-color: #bf616a;
    --bg-color: #4c566a;
  }

  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    font-family: var(--body-font);
  }
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
  }
  .theme-bg{
    background-color: var(--main-color);
  }
  body {
    margin: 0;
    color: var(--paragraph-color);
    overflow-x: hidden;
    font-family: var(--body-font);
    line-height: var(--line-height30);
    font-size: var(--body-font-size);
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
  font-weight: 600;
  line-height: 1.3;
}
.big-title{
  color: var(--heading-color);
  font-size: 2.5rem;
}
.mid-title{
  color: var(--heading-color);
  font-size: 2rem;
}
.small-title{
  color: var(--heading-color);
  font-size: 1.5rem;
}
.section{
  padding: 100px 0;
}
.section-bg{
  background-color: var(--bg-color);
  padding: 100px 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:hover {
  color: var(--main-color);
}
img {
    max-width: 100%;
}
button:hover,
button:active,
button:focus {
  outline: 0;
}



/*---------------------------------------
    ## Button
---------------------------------------*/
.top-btn{
  border: 1px solid #000;
  padding: 4px;
  border-radius: 10px;
  background-color: #fff;
  display: inline-flex;
}
.mid-btn{
  border: 1px solid #000;
  border-radius: 10px;
}
.main-btn{
  display: inline-block;
}
.btns {
  background: linear-gradient(#bf616a, #bf616a) padding-box,
  radial-gradient(circle, rgba(191,97,106,1) 0%, rgba(226,182,135,1) 0%, rgba(191,97,106,1) 100%) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
  padding: 7px 20px;
  color: #fff;
  font-size: 17px;
  display: inline-block;
}
.btns:hover{
  color: #fff;
}
.btn-border{
  padding: 4px;
  border: 2px solid #000;
}
.btn {
  background: linear-gradient(#87BFCF, #87BFCF) padding-box,
  radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(135,191,207,1) 100%, rgba(135,191,207,1) 100%) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
  padding: 7px 20px;
  color: #fff;
  font-size: 16px;
}
.btn:hover{
  color: #fff;
}
  
/*---------------------------------------
    ## Header
---------------------------------------*/
.navbar{
  border-bottom: 1px solid #9190902f;
}
.navbar-brand img{
  height: 50px;
}

.navbar-custom {
  background-color: transparent;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-toggler {
  color: #ffffff;
  font-size: 25px;
  padding: 0px;
  border: none;
}

.navbar-custom.nav-sticky {
  background-color: #e5e9f0e7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.navbar-custom.nav-sticky .custom-menu {
  box-shadow: none;
}

.logo .logo-light {
  display: inline-block;
}
.logo .logo-dark {
  display: none;
}

  
/*---------------------------------------
    ## Slider
---------------------------------------*/


  #carouselExampleSlidesOnly {
    position: relative;
  }

  .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
  }

  .carousel-caption {
    z-index: 2;
  }
.carousel-caption h1{
  font-size: 4rem;
}

.home-slider {
  position: relative;
}

.home-slider .carousel-control-next,
.carousel-control-prev {
  width: 6%;
}

.home-slider .carousel-item,
.home-slider .carousel {
  height: 100vh;
  width: 100%;
  padding: 0;
}

.home-slider .carousel-item {
  background-position: center center;
  background-size: cover;
}


/*---------------------------------------
    ## Services
---------------------------------------*/

.service-box {
  padding: 60px 40px;
  margin-top: 50px !important;
  background: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
  border: 1px solid transparent;
}
.service-box .services-icon img {
  width: 100px;
}




/*---------------------------------------
    ## MATCH SECTION
---------------------------------------*/










/*---------------------------------------
    ## FAVORITE MATCH SECTION
---------------------------------------*/
.work-img img {
  height: 80px;
  margin-bottom: 20px;
}

.work-count {
  opacity: 0.2;
}

.work-desc {
  position: relative;
  margin-top: -60px;
}
.work-border{
  position: relative;
}
.work-border:after {
  background-color: var(--main-color);
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
  height: 25px;
  position: absolute;
  top: 53px;
  width: 25px;
  z-index: 1;
  right: 0;
  margin: 0 auto;
}
.work-border:before {
  content: "";
  border: 1px solid #efefef;
  position: absolute;
  width: 46%;
  left: 75%;
  top: 65px;
}


/*---------------------------------------
    ## SUBSCRIBE SECTION
---------------------------------------*/
.subscribe{
  padding: 130px 0;
  background-position: center center;
  background-size: cover;
}

.price-box {
  position: relative;
  padding: 50px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 20px;
}
.price-box .pricing-badge {
  position: absolute;
  top: 0;
  z-index: 9;
  right: 0;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0;
  overflow: hidden;
  height: 100px;
}
.price-box .pricing-badge .badge {
	float: right;
	transform: rotate(45deg);
	right: -64px;
	top: 21px;
	position: relative;
	text-align: center;
	width: 200px;
	font-size: 18px;
	margin: 0;
	padding: 7px 10px;
	font-weight: 500;
	color: #ffffff;
	background: var(--sub-btn-color);
}
.pre-white{
  color: white !important;
}
.price-dollar{
  font-size: 52px;
}
.price-features p{
  font-size: 1.2em;
}
.price-features .fa-circle-check{
  color: var(--main-color);
  margin-right: 10px;
}
.price-features .fa-circle-xmark{
  color: var(--sub-btn-color);
  margin-right: 10px;
}

.pricing-active-color {
  border-color: white;
}

.pricing-title {
  font-size: 25px;
  color: var(--main-color);
}

/* NEW SUBSCRIPTION CODE  */


.switch-wrapper {
  position: relative;
  display: inline-flex;
  padding: 4px;
  border: 1px solid lightgrey;
  margin-bottom: 40px;
  border-radius: 5px;
  background: var(--white);
}

.switch-wrapper [type="radio"] {
  position: absolute;
  left: -9999px;
}

.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
  color: var(--white);
}

.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
  background: transparent;
}

.switch-wrapper
  [type="radio"]:checked#monthly
  + label[for="yearly"]
  ~ .highlighter {
  transform: none;
}

.switch-wrapper
  [type="radio"]:checked#yearly
  + label[for="monthly"]
  ~ .highlighter {
  transform: translateX(100%);
}

.switch-wrapper label {
  font-size: 16px;
  z-index: 1;
  min-width: 100px;
  line-height: 32px;
  cursor: pointer;
  border-radius: 30px;
  transition: color 0.25s ease-in-out;
}

.switch-wrapper label:hover {
  background: var(--lightgray);
}

.switch-wrapper .highlighter {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  border-radius: 5px;
  background: var(--main-color);
  transition: transform 0.25s ease-in-out;
}

/* subscription-box STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.subscription-box-wrapper {
  background: var(--white);
  overflow-x: auto;
}

.subscription-box {
  width: 100%;
}

.subscription-box tr {
  display: flex;
}

.subscription-box th,
.subscription-box td {
  width: 25%;
  min-width: 150px;
}

.subscription-box th:nth-child(1) {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 1rem 10px;
}

.subscription-box th:nth-child(1) .svg-wrapper {
  margin-top: 10px;
}

.subscription-box th:nth-child(1) svg {
  width: 22px;
  height: 22px;
}

.subscription-box th .heading {
  padding: 1rem;
  color: var(--white);
}

.subscription-box th:nth-child(2) .heading {
  background: var(--starter);
}

.subscription-box th:nth-child(3) .heading {
  background: var(--essential);
}

.subscription-box th:nth-child(4) .heading {
  background: var(--professional);
}

.subscription-box th .info {
  position: relative;
  padding: 1.5rem 0;
  border-left: 1px solid var(--lightgray);
}

.subscription-box th .popular {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 11px;
  background: var(--popular);
  padding: 4px 8px;
  border-radius: 2px;
}

.subscription-box th .amount {
  font-size: 2rem;
}

.subscription-box th .amount span {
  display: block;
  transform: translateY(-8px);
}

.subscription-box th:nth-child(2) .amount {
  color: var(--starter);
}

.subscription-box th:nth-child(3) .amount {
  color: var(--essential);
}

.subscription-box th:nth-child(4) .amount {
  color: var(--professional);
}

.subscription-box th .billing-msg,
.subscription-box th .amount span {
  font-weight: normal;
  font-size: 0.8rem;
}

.subscription-box th button {
  border-radius: 20px;
  padding: 8px 20px;
  margin-top: 10px;
  transition: all 0.2s;
}

.subscription-box th:nth-child(2) button {
  color: var(--starter);
  border: 1px solid var(--starter);
}

.subscription-box th:nth-child(2) button:hover {
  background: var(--starter);
}

.subscription-box th:nth-child(3) button {
  color: var(--essential);
  border: 1px solid var(--essential);
}

.subscription-box th:nth-child(3) button:hover {
  background: var(--essential);
}

.subscription-box th:nth-child(4) button {
  color: var(--professional);
  border: 1px solid var(--professional);
}

.subscription-box th:nth-child(4) button:hover {
  background: var(--professional);
}

.subscription-box th button:hover {
  color: var(--white);
}

.subscription-box td {
  padding: 10px;
}

.subscription-box td:not(:first-child) {
  border-left: 1px solid var(--lightgray);
}

.subscription-box td:first-child {
  font-size: 1rem;
  text-align: left;
}

.subscription-box svg {
  width: 18px;
  height: 18px;
}

.subscription-box svg.not-included {
  fill: var(--gray);
}

.subscription-box svg.starter {
  fill: var(--starter);
}

.subscription-box svg.essential {
  fill: var(--essential);
}

.subscription-box svg.professional {
  fill: var(--professional);
}

.subscription-box .hide {
  display: none;
}

/*---------------------------------------
    ## FOOTER SECTION
---------------------------------------*/

.footer{
  background-color: var(--bg-color);
}
.footer ul{
  list-style: none;
}


/*---------------------------------------
    ## SIGN IN SECTION
---------------------------------------*/

.form-signin {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 20px;
}

.bg-home {
  height: 100vh;
  background-size: cover !important;
  align-self: center;
  position: relative !important;
  background-position: center center;
}
.field-icon {
  float: right;
  margin-right: 15px;
  margin-top: -36px;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .bg-home {
    padding: 150px 0;
    height: auto;
  }
}

/*---------------------------------------
    ## FILTER SECTION 
---------------------------------------*/

.multiSelect {
  width: 400px !important;
  position: relative;
}
.multiSelect{
  width: 300px;
  position: relative;
}

.multiSelect *, .multiSelect *::before, .multiSelect *::after {
  box-sizing: border-box;
}

.multiSelect_dropdown {
  font-size: 14px;
  min-height: 35px;
  line-height: 35px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  background-color: var(--bg-color);
  color: #444f5b;
  border: 1px solid #d9dbde;
  font-weight: 400;
  padding: 0.5px 13px;
  margin: 0;
  transition: .1s border-color ease-in-out;  
  cursor: pointer;
}

.multiSelect_dropdown.-hasValue {
  padding: 5px 30px 5px 5px;
  cursor: default;
}

.multiSelect_dropdown.-open {
  box-shadow: none;
  outline: none;
  padding: 4.5px 29.5px 4.5px 4.5px;
  border: 1.5px solid var(--main-color);
}

.multiSelect_arrow::before,
.multiSelect_arrow::after {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-radius: 20px;
  border-bottom: 8px solid #99A3BA;
  top: 40%;
  transition: all .15s ease;
}

.multiSelect_arrow::before {
  right: 18px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.multiSelect_arrow::after {
  right: 13px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.multiSelect_list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(10 * 31px);
  top: 28px;
  left: 0;
  z-index: 9999;
  right: 0;
  background: #fff;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: opacity 0.1s ease, visibility 0.1s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  -webkit-transform: scale(0.8) translate(0, 4px);
  transform: scale(0.8) translate(0, 4px);
  border: 1px solid #d9dbde;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

.multiSelect_option {
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: translate(6px, 0);
  transform: translate(6px, 0);
  transition: all .15s ease;
}

.multiSelect_option.-selected {
  display: none;
}

.multiSelect_option:hover .multiSelect_text {
  color: #fff;
  background: var(--main-color);
}

.multiSelect_text {
  cursor: pointer;
  display: block;
  padding: 5px 13px;
  color: #525c67;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  position: relative;
  transition: all .15s ease;
}

.multiSelect_list.-open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(0, 12px);
  transform: scale(1) translate(0, 12px);
  transition: opacity 0.15s ease, visibility 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.multiSelect_list.-open + .multiSelect_arrow::before {
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
}

.multiSelect_list.-open + .multiSelect_arrow::after {
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}

.multiSelect_list.-open .multiSelect_option {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.multiSelect_list.-open .multiSelect_option:nth-child(1) {
transition-delay: 10ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(2) {
transition-delay: 20ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(3) {
transition-delay: 30ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(4) {
transition-delay: 40ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(5) {
transition-delay: 50ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(6) {
transition-delay: 60ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(7) {
transition-delay: 70ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(8) {
transition-delay: 80ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(9) {
transition-delay: 90ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(10) {
transition-delay: 100ms;
}

.multiSelect_choice {
  background: var(--main-color);
  color: #fff;
  padding: 4px 8px;
  line-height: 17px;
  margin: 5px;
  display: inline-block;
  font-size: 13px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
}

.multiSelect_deselect {
  width: 12px;
  height: 12px;
  display: inline-block;
  stroke: #fff;
  stroke-width: 4px;
  margin-top: -1px;
  margin-left: 2px;
  vertical-align: middle;
}

.multiSelect_choice:hover .multiSelect_deselect {
  stroke: #fff;
}

.multiSelect_noselections {
  text-align: center;
  padding: 7px;
  color: #b2bac3;
  font-weight: 450;
  margin: 0;
}

.multiSelect_placeholder {
  position: absolute;
  left: 10px;
  font-size: 14px;
  top: 8px;
  padding: 0 4px;
  background-color: var(--bg-color);
  color: #b8bcbf;
  pointer-events: none;
  transition: all .1s ease;
}

.multiSelect_dropdown.-open + .multiSelect_placeholder,
.multiSelect_dropdown.-open.-hasValue + .multiSelect_placeholder {
  top: -11px;
  left: 17px;
  color: var(--main-color);
  font-size: 13px;
}

.multiSelect_dropdown.-hasValue + .multiSelect_placeholder {
  top: -11px;
  left: 17px;
  color: #6e7277;
  font-size: 13px;
}


/*---------------------------------------
    ## TOOLTIPS 
---------------------------------------*/

.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltips i{
  font-size: 12px;
}
.tooltips i{
  width: 20px;
  height: 20px;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
}
.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*---------------------------------------
    ## TOURNAMENTS PAGE 
---------------------------------------*/
.tournament {

  background-size: cover !important;
  align-self: center;
  position: relative !important;
  background-position: center center;
  padding: 81px 0;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  right: -30%; /* Start off-screen from the right */
  width: 30%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: right 0.3s ease-in-out;
}

.modal-content {
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Style button to open modal */
.btn {
  cursor: pointer;
}

/* Style close button */
.close {
  color: #aaa;
}

.close:hover,
.close:focus {
  color: var(--main-color);
}


/*---------------------------------------
    ## TOURNAMENTS GRID PAGE 
---------------------------------------*/
.video-section{
  padding: 50px 0;
}
.video-box{
  border-radius: 5px;
}
.video-box video{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.video-preview{
  position: relative;
}
.video-date{
  position: absolute;
  bottom: 8%;
  right: 3%;
  color: #fff;
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}
.video-matches-tag{
  position: absolute;
  bottom: 8%;
  left: 3%;
  color: #fff;
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}
.players-tag{
  position: absolute;
  top: 3%;
  left: 3%;
  color: #fff;
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}
.video-title{
  color: #fff;
}
.video-country-tag{
  color: var(--main-color)
}




